   <h2 style='color:#3b5998;border-bottom:1px solid #d8dfea;'> Invite your instructor to facebook</h2>
   <p class='dark_gray'>
        if your teacher is not in facebook you can invite them 
   
   </p> 