<%=fb_plugin_dashboad do |elements| 
	elements[:actions].add "Profile",:controller=>"profile"
	elements[:actions].add "My Courses","D"
	elements[:help].add "help","D"
	elements[:title].add "Registerar"
	elements[:button].add "Register",:action=>"register"
   end
%>
